*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.body-content {
    position: relative;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: #f4f4f4;
    background-color: #ffffff;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.header {
    position: fixed;
    top: 0;
    z-index: 300;
    display: flex;
    width: 100%;
    min-height: 100px;
    font-size: 1rem;
    background-image: linear-gradient(180deg, #1d1e22, rgba(29, 30, 34, 0.5) 70%, transparent);
    mix-blend-mode: luminosity;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.navbar__menu {
    padding: 0.8rem 0 0;
    list-style-type: none;
    display: flex;
    /* width: 100%; */
    justify-content: center;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 2.5rem 0 0;
}

.navbar {
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center; */
    width: 100%;
    overflow: hidden;
    align-items: center;
}

.header__app-name {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #f4f4f4;
    font-size: 1.5rem;
    margin: 0 0 0 3rem;
    padding-top: 0.6rem;
    align-self: flex-start;
}
.navbar__menu-item {
    margin: 0;
    padding: 0 0.5rem;
}
.header ul li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    /* font-weight: 600; */
    color: #f4f4f4;
    font-size: 1.5rem;
}
.header ul li a::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 2px;
    transition: all 0.2s linear;
}
.header ul li a:hover::after {
    width: 100%;
    background-color: #f4f4f4;
}
section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.5), transparent);
    z-index: 100;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    background-color: #fff;
    background-image: url(./images/nepal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    scroll-snap-align: top;
    padding-top: 6rem;
    overflow: hidden;
}

section h2 {
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 900;
    padding: 0.5em 1em;
    color: #1d1e22;
    background-color: #f4f4f4;
    mix-blend-mode: screen;
    border-radius: 0.25em;
    pointer-events: none;
    user-select: none;
    display: inline-block;
    margin: 1rem 0 0;
    text-align: center;
    will-change: opacity;
}

section:nth-child(2) {
    background-image: url(./images/avatar_mila.png);
    background-size: 85vh;
    background-position: bottom -1rem left -5rem;
}
section:nth-child(3) {
    background-image: url(./images/mountain.png);
}
section:nth-child(4) {
    background-image: url(./images/mist.jpg);
}

.home-title {
    width: 40%;
    margin-left: auto;
    margin-right: 3rem;
    background: none;
    mix-blend-mode: exclusion;
    color: #b1b2b5;
    margin-top: 8rem;
    text-align: left;
}

.hard-skill__list {
    margin: 0 auto;
    padding: 20px 15px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: center;
    align-items: center;
    align-self: center;
    width: 80%;
    margin: 3rem 0;
    z-index: 200;
}

.hard-skill__icon {
    color: #839498;
    font-size: 3rem;
    margin: 0;
}

.hard-skill__element {
    list-style: none;
    text-align: center;
    padding: 15px 0 20px;
    color: #839498;
}

.hard-skill__text {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #4c5658;
    padding: 0;
}

.section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80%;
}
.title-background {
    display: inline;
    background: url('./images/background.png');
    border-radius: 0.5em;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.about__text {
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    color: #4c5658;
    padding: 30px;
    line-height: 2;
    font-size: 1.2rem;
    text-align: justify;
    margin: 0 0 4rem;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s linear, visibility 0.5s linear;
    font-style: normal;
}

.popup__container {
    width: 70%;
    height: 80%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 34px 36px 37px;
    position: relative;
    box-sizing: border-box;
    object-fit: contain;
    max-height: 1080px;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.popup__img {
    display: block;
    height: 70%;
    object-fit: cover;
    object-position: center top;
}

.popup__caption {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 30%;
    position: relative;
    justify-content: space-between;
}

.popup__close {
    position: absolute;
    display: block;
    top: -48px;
    right: -48px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./images/close_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.popup_opened {
    opacity: 1;
    visibility: visible;
    z-index: 400;
    display: flex;
}

.popup__content {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.popup__title {
    font-size: 1rem;
    line-height: 15px;
    color: #000;
    font-weight: 700;
    margin: 0;
    padding: 10px 0 0;
    text-transform: uppercase;
}

.popup__discription {
    font-size: 1rem;
    margin-bottom: 10px;
    flex-basis: 1;
}

.popup__viewApp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    text-transform: uppercase;
}

.popup__github-link,
.popup__app-link {
    font-style: none;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.popup__github-logo {
    font-size: 1.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(282px, 1fr));
    max-width: 882px;
    width: 100%;
    overflow: hidden;
    grid-column-gap: 18px;
    grid-row-gap: 21px;
    margin: 3rem auto;
    padding: 1rem 2rem 0;
    justify-content: center;
    box-sizing: border-box;
    z-index: 200;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    max-height: 400px;
    transition: 0.5s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
}

.card__img {
    width: 100%;
    height: 282px;
    object-fit: cover;
    object-position: center top;
    cursor: pointer;
}

.card__container {
    width: 100%;
    object-fit: cover;
    object-position: left top;
}

.card__title {
    font-size: 24px;
    line-height: 1.2;
    color: #9fa4b7;
    font-weight: 900;
    padding: 1rem;
    max-width: 100%;
    overflow: hidden;
}

.navbar__menu-icon {
    font-weight: 600;
    color: #f4f4f4;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    transition: max-height 0.5s;
}

.navbar__menu-button {
    cursor: pointer;
    margin-right: 2rem;
    display: none;
    background: none;
    border: none;
    outline: none;
    margin-left: auto;
    padding: 0;
}

.contact__docs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 6rem;
    min-width: 100%;
    flex-basis: 1;
}

.contact__docs-pdf {
    margin: 0 2rem;
    width: 40%;
    max-width: 400px;
    max-height: 600px;
    height: 600px;
    background-color: #fff;
}

.title {
    margin-top: 0;
}

/* .contact-title{
    margin-top: 5rem;
} */
.section__container-contacts {
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact__docs-img {
    height: 80%;
    cursor: pointer;
}

.contact__docs-title {
    padding: 3rem 1rem;
    color: #4c5459;
}

.projects-title {
    color: #9fa4b7;
    mix-blend-mode: unset;
    background-color: #fafbfc;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 7rem 0 1rem;
    color: #4c5459;
    z-index: 200;
    font-size: 5rem;
}

.social-media__link {
    text-decoration: none;
    color: #4c5459;
    cursor: pointer;
}

.social-media__icon {
    margin: 2rem;
    color: #4c5459;
}

.popup__docs {
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
    .header {
        min-height: 80px;
    }
    /* .navbar__menu {
        padding: 0 0 15px;
    } */

    .header ul li a {
        font-size: 0.8rem;
    }

    section {
        width: 100vw;
    }
    section h2 {
        font-size: 1.5rem;
        padding: 0.4em 1em;
        text-align: center;
    }
    .hard-skill__element {
        padding: 10px 0 15px;
    }
    .about__text {
        padding: 20px;
        line-height: 1.5;
        font-size: 1rem;
    }
    .contact__docs {
        margin-top: 3rem;
    }

    /* .contact-title{
        margin-top: 3rem;
    } */

    .contact__docs-pdf {
        margin: 0 2rem;
        width: 30%;
        max-width: 350px;
        max-height: 400px;
        height: 350px;
    }

    .contact__docs-img {
        height: 80%;
    }

    .contact__docs-title {
        padding: 0.8rem 0.5rem;
        color: #4c5459;
        font-size: 1rem;
        margin: 0;
    }

    .social-media {
        margin: 4rem 0 1rem;

        font-size: 3rem;
    }
}

@media screen and (max-width: 950px) {
    .cards {
        margin: 2rem 0;
        max-width: none;
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }

    .section__container {
        padding: 0 2rem;
    }

    .card__img {
        width: 100%;
        height: 200;
        max-height: 28vw;
    }

    .card__title {
        font-size: 1rem;
        padding: 1rem;
        margin: 0;
    }

    .contact__docs-title {
        padding: 1rem 1rem;
    }

    .contact__docs-pdf {
        margin: 0 1rem;
        width: 35%;
        max-width: 400px;
        max-height: 500px;
        height: 300px;
        background-color: #fff;
    }

    .hard-skill__list {
        padding: 10px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        vertical-align: top;
    }

    .hard-skill__icon {
        font-size: 1.5rem;
        text-align: center;
    }

    .hard-skill__text {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .popup__close {
        width: 5vw;
        height: 5vw;
        top: 0.5vw;
        right: 0.5vw;
        background-image: url(./images/close_iconDark.svg);
    }
    .popup__title {
        font-size: 0.8rem;
        margin: 0;
        padding: 5px 0 0;
    }

    .popup__discription {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }

    .popup__viewApp {
        margin-top: 1rem;
    }

    section h2 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 700px) {
    .popup__img {
        height: 60%;
    }

    .popup__caption {
        height: 40%;
    }

    .navbar__menu {
        padding: 0.8rem 0 0;
        margin: 0 1.5rem 0 0;
    }

    .header__app-name {
        margin: 0 0 0 2rem;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
    .header {
        background-image: linear-gradient(-90deg, #1d1e22, rgba(29, 30, 34, 0.57) 70%, transparent);
        min-height: 60px;
    }

    .header ul li {
        margin: 0 0.5em;
        padding: 0 0.5em;
    }

    section:nth-child(2) {
        background-size: 55vh;
        background-position: bottom -1rem left -5rem;
    }

    .home-title {
        width: 70%;
        margin-top: 1rem;
        margin-right: 0.5rem;
    }
    .cards {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

    .card__img {
        width: 100%;
        height: 250;
        max-height: 70vw;
    }

    .popup__close {
        width: 5vw;
        height: 5vw;
        top: 1vw;
        right: 1vw;
    }
}

@media screen and (max-width: 500px) {
    .popup {
        padding: 0 9.6vw;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    .popup__container {
        padding: 5vw;
    }

    .popup__container {
        height: 80vh;
        width: 100vw;
    }

    .navbar__menu-button {
        display: block;
    }

    .navbar__menu {
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
        padding: 0;
    }

    .navbar {
        position: absolute;
        top: 60px;
        left: 0;
        background-image: linear-gradient(-90deg, #1d1e22, rgba(29, 30, 34, 0.57) 70%, transparent);
        width: 100%;
        padding: 0 2rem 0;
        max-height: 0;
        opacity: 0.5;
        transition: all 1s ease;
        transform-origin: 100% 0;
    }

    .header ul li {
        margin: 0 0 10px;
        padding: 0;
    }

    /* .header ul li:last-child {
        margin: 0;
    } */

    .nav-opened {
        max-height: 150px;
        opacity: 1;
    }

    .anim-start {
        transition: none;
        transform: none;
        -webkit-transition: none;
        -moz-transition: none;
    }

    .about__text {
        width: 100%;
    }

    .title-background {
        max-width: 80%;
    }

    .hard-skill__list {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .popup {
        padding: 0;
    }

    .cards {
        grid-template-columns: repeat(1, minmax(150px, 250px));
        padding: 0;
    }
    .contact__docs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }

    .contact__docs-pdf {
        margin: 1rem;
        width: 70%;
        max-width: 400px;
        max-height: 500px;
        height: 300px;
        background-color: #fff;
    }

    section h2 {
        font-size: 1.2rem;
    }
}

/* ------------------animation-------------- */

.anim-start {
    transition: transform 0.7s 0.1s ease, opacity 1.5s 0.5s ease;
    transform: translate(0px, 120%);
    opacity: 0;
}

.anim-opacity {
    transition: opacity 1.5s 1s ease;
    opacity: 0;
}

.home-title {
    transition: transform 0.9s 0.1s ease, opacity 2s 0.5s ease;
    transform: translate(120%, 0px);
    opacity: 0;
}

.is-visible {
    transform: translate(0px, 0);
    opacity: 1;
}

/* .popup__close:hover {
    opacity: 0.6;
    transition: 0.5s ease-in-out;
} */
